

<div class="container card">
  <h1>Hello and Welcome to the Librarian page</h1>
  <form class="form-group" action="/library_books" method="post" name="show_books">


    <button type="submit" class="btn btn-info"name="button"> submit button</button>
  </form>
  <form class="form-group" action="/library_books" method="post" name="delete_books">
    <input type="hidden" name="_method" value="delete">
    <label id="title" name="title" type = "text">Enter Title</label>
    <input type="text" name="title">
    <button type="submit" class="btn btn-warning"name="button"> DELETE CHECKED BOOKS</button>
  </form>

  <a href="/librarian">View Book Database</a>

  <button type="button" name="button">

    <div class="container" id="delete_book">
      <% @books.each do |book| %>
      <div class="form-check">
        <table border="5"  align="center">
          <tr>
            <td bgcolor="pink">-  TITLE:  -</td>
            <td bgcolor="yellow">-  AUTHOR:  -</td>
            <td>-  available  -</td>
            <td>-  who checked out  -</td>
            <td>-  return date  -</td>
            <td>-  book id  -</td>
          </tr>

          <tr>
            <td > <%= book.title%> </td>
            <td>  <%= book.author%> </td>
            <td>  <%= book.available %>  </td>
            <td>  <%= book.patron_id%> </td>
            <td>  <%= book.return_date%></td>
            <td> <%= book.id%> </td>
          </tr>

        </table>
        <h3>TITLE: <%= book.title%></h3>
        <h3>AUTHOR: <%= book.author%></h3>
        <h5>available <%= book.available %></h5>
        <h5>who checked out<%= book.patron_id%></h5>
        <h5>return date <%= book.return_date%></h5>
        <h5>book id <%= book.id%></h5>
        <hr />
        <input type="checkbox" value=''>delete book</input>
        <% end %>

      </div>
    </div>



    <a href="/">Return Home</a>
  </button>
</div>
